<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Invoice System</title>
  <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
  <link href="~/content/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
  <link href="~/content/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
  <!--end::Global Stylesheets Bundle-->
</head>
<body id="kt_body" class="app-blank bgi-size-cover bgi-position-center bgi-no-repeat">
  <!--begin::Theme mode setup on page load-->
  <script>
    var defaultThemeMode = "light"; var themeMode; if (document.documentElement) { if (document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if (localStorage.getItem("data-bs-theme") !== null) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }
  </script>
  <!--end::Theme mode setup on page load-->
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root" id="kt_app_root">
    <!--begin::Page bg image-->
    <style>
      body {
        background-image: url('../content/external/media/auth/bg6.jpg');
      }

      [data-bs-theme="dark"] body {
        background-image: url('../content/external/media/auth/bg6-dark.jpg');
      }
    </style>
    <!--end::Page bg image-->
        @RenderBody()
  </div>
  <!--end::Root-->
  <!--begin::Javascript-->
  <script>var hostUrl = "assets/";</script>
  <!--begin::Global Javascript Bundle(mandatory for all pages)-->
  <script src="~/content/assets/plugins/global/plugins.bundle.js"></script>
  <script src="~/content/assets/js/scripts.bundle.js"></script>
  <!--end::Global Javascript Bundle-->
  <!--end::Javascript-->
  @await RenderSectionAsync("Scripts", required: false)
</body>
<!--end::Body--
</html>
